<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache"
        version="25">
	<Document name="cloudstudio.ZPM">
		<Module>
			<Name>cloudstudio</Name>
			<Version>0.1.0</Version>
			<Description>CloudStudio Code Editor</Description>
			<Keywords>Code Editor IDE ObjectScript</Keywords>
			<Packaging>module</Packaging>
			<CSPApplication CookiePath="/cloudstudio/"
			                DefaultTimeout="900"
			                DeployPath="${cspdir}cloudstudio\src\csp\"
			                InboundWebServicesEnabled="0"
			                MatchRoles=":%DB_%DEFAULT"
			                PasswordAuthEnabled="1"
			                Recurse="1"
			                ServeFiles="1"
			                ServeFilesTimeout="3600"
			                SourcePath=".\src\csp"
			                UnauthenticatedEnabled="0"
			                Url="/cloudstudio"
			                UseSessionCookie="2"/>
			<SourcesRoot>cls</SourcesRoot>
		</Module>
	</Document>
</Export>